//
   Created by wizard on 2016/6/11.

extends layout
block stylesheet
  link(rel='stylesheet', href='/css/SecAccSys/modify.css')
  script(type='text/javascript').
    $(function () {
      //$(".registerform").Validform();  //就这一行代码！;

      var demo = $(".registerform").Validform({
        tiptype: 3,
        label: ".label",
        showAllError: true,
        datatype: {
          "zh1-6": /^[\u4E00-\u9FA5\uf900-\ufa2d]{1,6}$/
        },
        ajaxPost: true
      });
    });
block content
  h1(style="text-align:center;") 修改信息
  form(action="/SecAccSys/modify?Corporate=1", method="post").registerform
    table.table
      tbody
        tr
          td 法人
          td
        tr
          td ID
          td
            input(type="text", value="#{stockID}", disabled="true", datatype="zh2-4", errormsg="请输入姓名（2-4位汉字）")
        tr
          td 法人登记号码
          td
            input(type="text", name="docid", value="#{docid}", datatype="n10-10", errormsg="请输入10位数字")
        tr
        tr
          td 姓名
          td
            input(type="text", name="fname", value="#{fname}", datatype="zh2-4", errormsg="请输入2-4个汉字")
        tr
          td 身份证号
          td
            input(type="text", name="fidno", value="#{fidno}", datatype="n18-18", errormsd="请输入18位数字")
        tr
          td 联系电话
          td
            input(type="text", name="fphone", value="#{fphone}", datatype="m", errormsg="请输入手机号")
        tr
          td 联系住址
          td
            input(type="text", name="faddr", value="#{faddr}", datatype="*10-40", errormsg="请输入10-40个字符")
    table.table
      tbody
        tr
          td 授权交易执行人
          td
        tr
          td 姓名
          td
            input(type="text", name="name", value="#{name}", datatype="zh2-4", errormsg="请输入姓名（2-4位汉字）")
        tr
          td 身份证号
          td
            input(type="text", name="idno", value="#{idno}", datatype="n18-18", errormsd="请输入18位数字")
        tr
          td 联系电话
          td
            input(type="text", name="phone", value="#{phone}", datatype="m", errormsg="请输入手机号")
        tr
          td 联系地址
          td
            input(type="text", name="addr", value="#{addr}", datatype="*10-40", errormsg="请输入10-40个字符")
        tr
          td 密码
          td
            input(type="password", name="password", datatype="*6-16", errormsg="请输入6-16个字符")
        tr
          td 确认密码
          td
            input(type="password", name="password2", datatype="*6-16", recheck="password", errormsg="您两次输入密码不同")
    .form-group
      input(type="submit", value="提交")